.woocommerce{

  &.dashboard,
  &.tinv-wishlist-clear{
    overflow: hidden;
    margin-bottom: 40px;
  }
  &-MyAccount-navigation{
    @include media-breakpoint-up(md){
      max-width: 25%;
      float: left;
      width: 100%;
    }
  }
  &-MyAccount-content{
    @include media-breakpoint-up(md){
      max-width: 75%;
      float: left;
      width: 100%;
    }

  }

  // my account / orders
  table.my_account_orders{
    font-size: inherit;
  }

  .cart-collaterals{
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse;
    .cart_totals {
      margin-left: auto;
    }
    .cross-sells{
      width: 100%;
      float: none;
      margin-top: 50px;

      .row {
        margin-right: -45px;
        .b-product_grid_single{
          flex: 0 0 39%;
          margin-left:15px;
          margin-right: 15px;
          @include media-breakpoint-up(md){
            flex:0 0 28%;
          }
          @include media-breakpoint-up(lg){
            flex: 0 0 17%;
          }
        }
      }
    }
  }
}

.woocommerce-ordering{
  height: 42px;
}
.woocommerce-Price-amount{
  //font-family: $lato_font;
  font-weight: 600;
}

//coupon
.woocommerce-cart-form{
  .actions{
    display: flex;
    justify-content: space-between;
  }
  .coupon{
    display: flex;
    label{
      display: none;
    }
    .input-text{
      max-width: 200px;
      margin-right: 5px;
    }
    .button{
      width: 100%;
    }
  }
  .cart-collaterals{

    // .cross-sells,
    // .cart_totals{
    //   float: none;
    //   width: 100%;
    // }

    
  }
}


.woocommerce-checkout{
  .panel-body{
    padding: 0 15px;
  }
}

  .mini-product{
    display: flex;
    justify-content: space-between;
    &-img{
      width: 20%;
      img{
        max-width: 100%;
      }
    }
    &-info{
      width: 80%;
      padding-left: 10px; 
    }
  }



