.woocommerce{

  &.dashboard,
  &.tinv-wishlist-clear{
    overflow: hidden;
    margin-bottom: 40px;
  }
  &-MyAccount-navigation{
    @include media-breakpoint-up(md){
      max-width: 25%;
      float: left;
      width: 100%;
    }
  }
  &-MyAccount-content{
    @include media-breakpoint-up(md){
      max-width: 75%;
      float: left;
      width: 100%;
    }

  }

  // my account / orders
  table.my_account_orders{
    font-size: inherit;
  }
}

.woocommerce-ordering{
  height: 42px;
}
.woocommerce-Price-amount{
  //font-family: $lato_font;
  font-weight: 600;
}

//coupon
.woocommerce-cart-form{
  .actions{
    display: flex;
    justify-content: space-between;
  }
  .coupon{
    display: flex;
    label{
      display: none;
    }
    .input-text{
      max-width: 200px;
      margin-right: 5px;
    }
    .button{
      width: 100%;
    }
  }
}
.woocommerce-checkout{
  .panel-body{
    padding: 0 15px;
  }
}


